*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body,html{
    height: 100%;
    font-weight: 700;
}
 
.main {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    align-items: center;
    position: absolute;
    z-index: -1;
}
#particles-js{
    width: 100%;
    height: 100%;
    z-index: 0;
}
.header1{
    color:#fff;
    height: 100vh;
}
#bizkimiz{
    height:100%
}
.logo{
    width:180px;  
    border-radius:100px;
    margin-left: 8vw;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color:rgba(255, 255, 255, 0.3);*/
}
.logo2{
    max-width: 25rem;
}
.buttons{
    margin-top: 15px;
}
.buttons a{
    text-decoration: none;
    color: white;
    transition: color .5s ease;
}
.buttons a:hover{
    color:#ddd
}
hr.style14 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.fLabel label{
    font-weight: 600;
    color: #fff;
}
.socialbuttons a{
    color:#fff;
    transition: color 0.5s ease
}
.socialbuttons a:nth-child(2):hover{
    color:#0072b1;
    transition: color 0.2s ease
}
.socialbuttons a:nth-child(1):hover{
    color: #1DA1F2;
    transition: color 0.2s ease
}
.social-media{
    color: #fff;
    background-color: #ff8177;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23ff8177'/%3E%3Cstop offset='1' stop-color='%23cf556c'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23b12a5b' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23b12a5b' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23b12a5b' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23b12a5b' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* background by SVGBackgrounds.com */
    
}
.social-buttons a{
    color: #fff;
}
.upper-button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color:#e73c7e;
    color: #fff;
}
.nav-menu{
    margin-right: 5vw;
}
.animLogo{
    width: 400px;
    height:400px;
    overflow:hidden;
    position: relative;
}
.animLogo img{
    position: absolute;
}
.animLogo img:nth-child(3){
    top: 180px;
    transform:translateX(-320px);
    
}
.animLogo img:nth-child(1){
    left: 70px;
    transform:translateX(320px);
    
}
.animLogo img:nth-child(2){
    opacity:0;
    top:90px;
    left:35px;
    
}
.anim1{
    animation: righttoleft 1s forwards ease-out
}
.anim2{
    animation: opaq 1s forwards ease-out;
    animation-delay: .8s;
}
.anim3{
    animation: lefttoright 1s forwards ease-out 
}
@keyframes lefttoright{
    0%{
        transform:translateX(-300px)
    }
    65%{
        transform:translateX(50px)
    }
    100%{
        transform:translateX(0)
    }
}
@keyframes righttoleft{
    0%{
        transform:translateX(300px)
    }
    65%{
        transform:translateX(-50px)
    }
    100%{
        transform:translateX(0)
    }
}
@keyframes opaq{
    50%{
        opacity: 1;
        transform: rotate(0deg);
    }
    80%{
        transform:rotate(100deg)
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);
    }

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media screen and (max-device-width: 480px) {
    body{
      display:block;
      position: relative;
      width:100%;
      overflow-x:hidden;
    }
}
